{% extends 'base/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<div class="main-container bg-transparent" >
<div class="main-container bg-transparent" id="login-form-wrapper">
	<h3 class = "btn btn-warning btn-lg btn-block" >Відновлення паролю</h3>


	<p>Забули пароль? Введіть свою електронну пошту і ми надамо інструкції як отримати новий пароль.</p>


	<form method="POST" action="">
		{% csrf_token %}
		{{form|crispy}}
		<br>
		<input class="btn btn-warning" type="submit" value="Відновити">
	</form>
</div>
</div>
{% endblock content %}