
            <div class="card card-body bg-transparent" id="user-info-box">
                <h3>Навігаційне меню:</h3>
                <li> <a class="btn btn-outline-dark btn-warning" href="{% url 'users' %}">Користувачі</a></li> <br>
                <li><a class="btn btn-outline-dark btn-warning" href="{% url 'posts_admin' %}">Оголошення</a></li> <br>
                <li><a class="btn btn-outline-dark btn-warning" href="{% url 'posts_comments' %}">Комендарі до постів</a></li> <br>
                <li><a class="btn btn-outline-dark btn-warning" href="{% url 'profiles_comments' %}">Відгуки</a></li> <br>
            </div>


