{% extends 'base/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <style type="text/css">
        .author-pic {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-right: 10px;
        }
    </style>

    <div class="main-container">
        <br>

        <div class="row">
            <div class="col-md-3">
                {% include 'base/chat_template.html' %}
            </div>

            <div class="col-md-9">
                <div class="card card-body bg-transparent" id="user-info-box">

                    <div class="titles" align="center">>>> {{ chat.recipient.user.username }}</div>

                    <div class="comments-wrapper">
                        <h5>Повідомлення: {{ chat.chats.all.count }}</h5>
                        <hr>
                        <!--
                            - Not logged in, output form and say "Register to comment and give room for a message"
                            - When given username
                        -->
                        {% if request.user.is_authenticated %}
                            <form action="" method="POST">
                                {% csrf_token %}
                                <textarea required class="form-control" placeholder="Напишіть повідомлення..."
                                          name="comment"></textarea>
                                <br>
                                <input class="btn btn-info" type="submit" value="Надіслати">
                            </form>
                        {% else %}
                            <p>Щоб надіслати повідомленння зайдіть або зареєструйтесь:</p>
                            <a class="btn btn-primary" href="{% url 'register' %}">Вхід/Реєстрація</a>
                        {% endif %}

                        <hr>

                        {% for chat in chat.chats.all|dictsortreversed:"created" %}
                            {% if request.user == chat.send.user %}
                                <div class="comment">
                                    <div class="col-md-3">
                                        <a href="{% url 'profile' chat.send.user.username %}"> <img class="author-pic"
                                                                                                    src="{{ chat.send.profile_pic.url }}">
                                        </a></div>
                                    <div class="col-md-6">

                                        <a href="{% url 'profile' chat.send.user.username %}"><p align="left"
                                                                                                 class="comment-author">
                                            {{ chat.send.user.username }}</p></a>
                                        <p align="left" class="comment-body">{{ chat.body }}</p>

                                        <p align="left" class="comment-date">{{ chat.created|date:"M-d-Y" }}</p>
                                        <hr>
                                    </div>
                                    <div class="col-md-3"></div>


                                </div>
                            {% else %}
                                <div class="comment">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">

                                        <a href="{% url 'profile' chat.send.user.username %}">
                                            <p align="right"
                                               class="comment-author">
                                                {{ chat.send.user.username }}</p></a>
                                        <p align="left" class="comment-body">{{ chat.body }}</p>

                                        <p align="right" class="comment-date">{{ chat.created|date:"M-d-Y" }}</p>
                                        <hr>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="{% url 'profile' chat.send.user.username %}"> <img class="author-pic"
                                                                                                    src="{{ chat.send.profile_pic.url }}">
                                        </a></div>


                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br><br><br><br><br>
        </div>
    </div>
    <br><br><br><br><br>
{% endblock content %}

