{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<style type="text/css">
	#user_pic{
		height: 200px;
		width: 200px;
		border-radius: 50%;
		border:5px solid #888;
		margin:0 auto;
		object-fit: cover;
	}

	#user-info-box{
		text-align: center;

	}
	.comments-wrapper{
		margin-top: 50px;
		padding: 10px;
		border:1px solid var(--borderColor);
		-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
		-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
		box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	}

	.comment{
		display: flex;
		padding: 15px;
	}

	.comment-author{
		font-size: 14px;
		font-weight: 700;
		color: rgb(30, 174, 219) !important;
		margin: 2px;
	}

	.author-pic{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-right: 10px;
	}

	.comment-body{

		font-size: 14px;
	}


</style>

<div class="post-container">

    <a class="btn btn-sm btn-primary" href="{% url 'chats' %}">&laquo Back to Chats</a>


    <p class="post-intro">You write to {{chat.recipient}}??/??</p>

    <p class="post-intro">>>> {{chat.send}}</p>


    <div class="comments-wrapper">
        <h5>Massages: {{chat.chats.all.count}}</h5>
        <hr>
        <!--
            - Not logged in, output form and say "Register to comment and give room for a message"
            - When given username
        -->
        {% if request.user.is_authenticated %}
        <form action="" method="POST">
            {% csrf_token %}
            <textarea required class="form-control" placeholder="Write a massege..." name="comment"></textarea>
            <br>
            <input class="btn btn-info" type="submit" value="Sent">
        </form>
        {% else %}
        <p>Create an account to sent message:</p>
        <a class="btn btn-primary" href="{% url 'register' %}">Register/Login</a>
        {% endif %}

        <hr>
        {% for chat in chat.chats.all %}
        <div class="comment">
            <a href="{% url 'profile' chat.send.slug %}"> <img class="author-pic"
                                                                    src="{{chat.send.profile_pic.url}}">
            </a>
            <div>

                <a href="{% url 'profile' chat.send.slug %}"><p class="comment-author">{{chat.send}}</p></a>
                <h6 class="comment-body"> {{chat.created|date:"M-d-Y"}}</h6>
                <p class="comment-body">{{chat.body}}</p>


            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}