{% extends 'base/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            </ol>
            <img src="{% static 'images/images/main.png' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption ">
                <div class="title-main">Social assictence</div>
            </div>

        </div>
    </div>
    <br>

    <div class="container">
        <div align="center" class="title">Основні категорії</div>

        <div class="category-wrapper">
            <div class="category ">
               <a href="{% url 'posts' %}">
                    <img class="thumbnail-cat" src="{% static 'images/images/baby.png' %}"></a>
                <div class="post-preview bg-transparent">
                    <a href="{% url 'posts'  %}">
                        <h6 class="post-title-cat">Дитячий світ</h6></a>
                </div>
            </div>
            <div class="category ">
                <a href="{% url 'posts' %}">
                    <img class="thumbnail-cat" src="{% static 'images/images/dress.png' %}"></a>
                <div class="post-preview bg-transparent">
                     <a href="{% url 'posts'  %}">
                         <h6 class="post-title-cat">Одяг та взуття</h6></a>
                </div>
            </div>
            <div class="category ">
                 <a href="{% url 'posts'  %}">
                     <img class="thumbnail-cat" src="{% static 'images/images/accessories.png' %}"></a>
                <div class="post-preview bg-transparent">
                     <a href="{% url 'posts'  %}">
                         <h6 class="post-title-cat">Аксесуари</h6></a>
                </div>
            </div>
            <div class="category ">
                 <a href="{% url 'posts'  %}">
                     <img class="thumbnail-cat" src="{% static 'images/images/beauty.png' %}"></a>
                <div class="post-preview bg-transparent">
                     <a href="{% url 'posts'  %}">
                         <h6 class="post-title-cat">Краса та здоров'я</h6></a>
                </div>
            </div>
            <div class="category ">
                 <a href="{% url 'posts'  %}">
                     <img class="thumbnail-cat" src="{% static 'images/images/furniture.png' %}"></a>
                <div class="post-preview bg-transparent">
                     <a href="{% url 'posts'  %}">
                         <h6 class="post-title-cat">Меблі</h6></a>
                </div>
            </div>
            <div class="category ">
                 <a href="{% url 'posts'  %}">
                     <img class="thumbnail-cat" src="{% static 'images/images/food.png' %}"></a>
                <div class="post-preview bg-transparent">
                     <a href="{% url 'posts'  %}">
                         <h6 class="post-title-cat">Продукти харчування</h6></a>
                </div>
            </div>


        </div>

    </div>

    <div class="post-wrapper">


        {% for post in posts %}
            <div>
                <div class="post ">
                    <img class="thumbnail" src="{{ post.thumbnail.url }}">
                    <div class="post-preview bg-transparent">
                        <h6 class="post-title">{{ post.headline }}</h6>
                        <p class="post-intro">{{ post.sub_headline }}</p>
                        <a class="btn btn-outline-dark btn-warning" href="{% url 'post' post.slug %}">Переглянути
                            оголошення</a>
                        <hr>
                        {% if request.user.profile == post.author or request.user.is_staff%}
                            <a class="btn btn-outline-dark btn-warning" href="{% url 'update_post' post.slug %}">Редагувати</a>
                            | <a class="btn btn-outline-dark btn-warning" href="{% url 'delete_post' post.slug %}">Видалити</a>
                        {% endif %}
                        <hr>

                        <span class="tag">{{ post.tags.name }}</span>

                    </div>
                </div>
            </div>
        {% empty %}
            <h4>Оголошень не знайдено...</h4>
        {% endfor %}
    </div>
    <div class="center">
        <div class="pages">

            {% if posts.has_other_pages %}

                {% if posts.has_previous %}
                    <a data-page="{{ posts.previous_page_number }}"
                       href="?page={{ posts.previous_page_number }}"
                       class="btn btn-outline-dark text-dark">&laquo</a>

                    <a data-page="1" href="?page=1" class="btn btn-outline-dark text-dark">На початок</a>
                {% endif %}


                {% for i in posts.paginator.page_range %}
                    {% if posts.number == i %}
                        <a class="btn btn-outline-dark btn-warning">{{ i }}</a>
                    {% else %}
                        <a data-page="{{ i }}" href="?page={{ i }}"
                           class="btn btn-outline-dark text-dark">{{ i }}</a>
                    {% endif %}

                {% endfor %}


                {% if posts.has_next %}
                    <a data-page="{{ posts.paginator.num_pages }}"
                       href="?page={{ posts.paginator.num_pages }}" class="btn btn-outline-dark text-dark">В
                        кінець</a>

                    <a data-page="{{ posts.next_page_number }}"
                       href="?page={{ posts.next_page_number }}" class="btn btn-outline-dark text-dark">&raquo</a>
                {% endif %}

            {% endif %}
        </div>
    </div>
    </br>
    <section class="s2">
        <div class="main-container">
            <a href=""></a>
            <h3 style="text-align: center;">Зв'язатись</h3>

            <form id="contact-form" method="POST" action="{% url 'send_email' %}">
                {% csrf_token %}
                <a name="contact"></a>

                <label>Ім'я</label>
                <input required class="input-field" type="text" name="name">

                <label>Тема</label>

                <input required class="input-field" type="text" name="subject">

                <label>E-mail</label>
                <input required class="input-field" type="text" name="email">

                <label>Повідомлення</label>
                <textarea required class="input-field" name="message"></textarea>

                <input class="btn btn-outline-dark btn-warning btn-lg btn-block" type="submit" value="Надіслати">
            </form>
        </div>

    </section>


    </div>


    <script type="text/javascript">
        let searchForm = document.getElementById('searchForm')
        let pageLinks = document.getElementsByClassName('page-link')

        for (var i = 0; pageLinks.length > i; i++) {

            pageLinks[i].addEventListener('click', function (e) {
                e.preventDefault()
                let page = this.dataset.page
                console.log('Page:', page)
                searchForm.innerHTML += `<input value="${page}" name="page" hidden >`
                searchForm.submit()
            })

        }
    </script>

{% endblock content %}