{% load static %}

<style type="text/css">


</style>


<ul class="topnav">


    <a href="{% url 'home' %}">
        <div class="dots-wrapper">
            <div id="dot-1" class="browser-dot"></div>
            <div id="dot-2" class="browser-dot"></div>
            <div id="dot-3" class="browser-dot"></div>
        </div>
    </a>

    {% if request.user.is_staff %}
        <li><a href="{% url 'admin_page' %}#contact">Адміністратор</a></li>
    {% endif %}

    {% if request.user.is_authenticated %}
        <li class="right"><a href="{% url 'logout' %}">Вихід</a></li>
    {% else %}
        <li class="right"><a href="{% url 'login' %}">Вхід</a></li>
    {% endif %}

    <li class="right"><a href="{% url 'home' %}#contact">Контакти</a></li>

    {% if request.user.is_authenticated %}
        <li class="right"><a href="{% url 'profile' request.user.username %}"> <img width="30" height="30"
             src=" {{ request.user.profile.profile_pic.url }}"> Профіль</a></li>
        <li class="right"><a class="btn btn-outline-dark btn-warning" href="{% url 'create_post' %}">Створити
            оголошення</a></li>
    {% endif %}

    <li class="right"><a class="btn btn-outline-dark btn-warning" href="{% url 'posts' %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
             viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg> Пошук</a></li>

    <li class="right"><a href="{% url 'home' %}#contact">Контакти</a></li>

</ul>
<hr>


