{% extends 'base/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<style type="text/css">
	#div_id_tags, #id_tags, #div_id_headline, #id_headline{

		max-height: 100px;
		border-radius: 5px;
		padding: 5px;
		border:1px solid #888;
	}
	A {
    color: yellow; /* Цвет ссылок */
   }
    A:hover {
    color : white;}

</style>

<div class="main-container">
	<h1>Posts</h1>


	<form id="searchForm" method="GET">
		{{myFilter.form|crispy}}
		
		<input class="btn btn-warning" type="submit" value="Пошук">
	</form>
	<br>
	<div class="post-wrapper">


		{% for post in posts %}
		<div>
			<div class="post ">
				<img class="thumbnail" src="{{post.thumbnail.url}}">
				<div class="post-preview bg-transparent">
					<h6 class="post-title">{{post.headline}}</h6>
					<p class="post-intro">{{post.sub_headline}}</p>
					<a class="btn btn-outline-dark btn-warning" href="{% url 'post' post.slug %}">Переглянути оголошення</a>
<hr>
                        {% if request.user.is_staff %}
                             <a class="btn btn-outline-dark btn-warning" href="{% url 'update_post' post.slug %}">Редагувати</a>
                            | <a class="btn btn-outline-dark btn-warning" href="{% url 'delete_post' post.slug %}">Видалити</a>
                        {% endif %}
                        <hr>

						<span class="tag">{{post.tags.name}}</span>

				</div>
			</div>
		</div>
		{% empty %}
			<h4>Оголошень не знайдено...</h4>
		{% endfor %}
	</div>

	<div class="center">
        <div class="pages">

            {% if posts.has_other_pages %}

                {% if posts.has_previous %}
                    <a data-page="{{ posts.previous_page_number }}"
                       href="?page={{ posts.previous_page_number }}"
                       class="btn btn-outline-dark text-dark">&laquo</a>

                    <a data-page="1" href="?page=1" class="btn btn-outline-dark text-dark">First</a>
                {% endif %}


                {% for i in posts.paginator.page_range %}
                    {% if posts.number == i %}
                        <a class="btn btn-outline-dark btn-warning">{{ i }}</a>
                    {% else %}
                        <a data-page="{{ i }}" href="?page={{ i }}"
                           class="btn btn-outline-dark text-dark">{{ i }}</a>
                    {% endif %}

                {% endfor %}


                {% if posts.has_next %}
                    <a data-page="{{ posts.paginator.num_pages }}"
                       href="?page={{ posts.paginator.num_pages }}" class="btn btn-outline-dark text-dark">Last</a>

                    <a data-page="{{ posts.next_page_number }}"
                       href="?page={{ posts.next_page_number }}" class="btn btn-outline-dark text-dark">&raquo</a>
                {% endif %}

            {% endif %}
        </div>
    </div>
    </br>
</div>


<script type="text/javascript">
	let searchForm = document.getElementById('searchForm')
	let pageLinks = document.getElementsByClassName('page-link')

	for(var i=0; pageLinks.length > i; i++){

		pageLinks[i].addEventListener('click', function(e){
			e.preventDefault()
			let page = this.dataset.page
			console.log('Page:', page)
			searchForm.innerHTML += `<input value="${page}" name="page" hidden >`
			searchForm.submit()
		})

	}
</script>

{% endblock content %}