{% extends 'base/main.html' %}
{% load static %}
{% block content %}

    <style type="text/css">

        .author-pic {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-right: 10px;
        }


    </style>


    <div class="main-container">
        <br>
        <a class="btn btn-warning" href="{% url 'posts' %}">&laquo Повернутись до всіх оголошень</a>

        {% if request.user.profile == post.author  %}
            <a class="btn btn-outline-success" href="{% url 'update_post' post.slug %}">Редагувати</a>
            <a class="btn btn-outline-danger" href="{% url 'delete_post' post.slug %}">Видалити</a>
        {% endif %}

        <hr>
        <div class="row">
            <div class="col-md-8">
                <div class="card card-body bg-transparent" id="product-info-box">
                    <img id="product_pic" src="{{ post.thumbnail.url }}">
                    <hr>
                    <div class="card card-body bg-transparent">
                        <h2 align="left">Назва: {{ post.headline }}</h2>

                        <p align="left">Опис: {{ post.body|safe }}</p>

                        <p align="left">Категорія: {{ post.product_category.name }} {{ post.tags }}</p>
                        <p align="left">Стан: {{ post.type }}</p>
                        <p align="left">Дата створення: {{ post.created|date:"d.m.Y H:i" }}</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-body bg-transparent" id="user-info-box">
                    <img id="user_pic" src="{{ post.author.profile_pic.url }}">
                    <br>
                    <a class="btn btn-outline-warning text-dark font-weight-bold btn-lg "
                       href="{% url 'profile' post.author.user.username %}">{{ post.author.user.username }}</a>
                    <br>
                    {% if request.user.is_authenticated and request.user.profile != post.author %}
                        <li><a class="btn btn-outline-dark btn-warning"
                               href="{% url 'createChat' post.author.user.username %}">Написати повідомлення</a></li>
                        <br>
                        <li><a class="btn btn-outline-dark btn-warning"
                               href="{% url 'add_order' post.slug %}">Додати до вподобаних оголошень</a></li>
                        <br>
                    {% elif request.user.is_authenticated and request.user.profile == post.author %}
                        <p>Це ваше оголошенння.</p>
                    {% else %}<p> Ввійдіть або зареєструйтесь, щоб зв'язатись з користувачем.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-body ">

                    <div align="center" class="titles"> Галерея</div>

                    {% for image in images.all %}

                        <br>
                        <img id="product_images" class="featured_image" src="{{ image.image.url }}">
                    {% empty %}
                        <hr>
                        <h5 align="center">Більше фото не має...</h5>
                    {% endfor %}
                </div>

            </div>
        </div>

        <div class="container">
            <div class="comments-wrapper">
                <h5>Коментарі: {{ post.postcomment_set.all.count }}</h5>
                <hr>
                <!--
                    - Not logged in, output form and say "Register to comment and give room for a message"
                    - When given username
                -->
                {% if request.user.is_authenticated %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        <textarea required class="form-control" placeholder="Написати коментар..."
                                  name="comment"></textarea>
                        <br>
                        <input class="btn btn-warning" type="submit" value="Надіслати">
                    </form>
                {% else %}
                    <p>Необхідно здійснити вхід або зараєструватись, щоб залишити коментар:</p>
                    <a class="btn btn-warning" href="{% url 'register' %}">Реєстрація/Вхід</a>
                {% endif %}

                <hr>

                        {% for comment in post.postcomment_set.all|dictsortreversed:"created" %}
                             <div class="comment">
                            <div align="center" class="col-md-3">
                                <a href="{% url 'profile' comment.author.user.username %}"> <img class="author-pic"
                                                                                                 src="{{ comment.author.profile_pic.url }}">
                                </a></div>
                            <div class="col-md-9">

                                <a style="color: black" href="{% url 'profile' comment.author.user.username %}"><p style="color: black" align="left"
                                                                                              class="comment-author">
                                    {{ comment.author.user.username }}</p></a>
                                <p align="left" class="comment-body">{{ comment.body }}</p>
                                {% if request.user.is_authenticated and request.user.profile == comment.author %}
                            <p align="right">
                            <a style="color: black "  href="{% url 'update_profile_comment' comment.id %}">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                                        <path fill-rule="evenodd"
                                              d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                                    </svg></a></p>
{% endif %}
                                <p align="right" class="comment-date">{{ comment.created|date:"d:m:Y H:i:s" }}</p>
                                <hr>
                            </div>


                        </div>
                        {% endfor %}

            </div>

        </div>
    </div>
    </div>
{% endblock content %}