{% extends 'base/main.html' %}
{% load static %}
{% block content %}

    <style type="text/css">
        #user_pic {
            height: 200px;
            width: 200px;
            border-radius: 50%;
            border: 5px solid #888;
            margin: 0 auto;
            object-fit: cover;
        }



        #user-info-box {
            text-align: center;


        }

        .comments-wrapper {
            margin-top: 5px;
            padding: 10px;
            border: 1px solid var(--borderColor);
            -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
            box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
        }

        .comment {
            display: flex;
            padding: 1px;
        }

        .comment-author {
            font-size: 14px;
            font-weight: 700;
            color: black;


        }

        .author-pic {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .comment-date {

            font-size: 10px;
        }

        .comment-body {

            font-size: 14px;
        }

    </style>

    <div class="main-container">
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card card-body bg-transparent" id="user-info-box">
                <img id="user_pic" src="{{ user.profile.profile_pic.url }}">
                <br>
                <h2 align="center"><font size="6" color="black"
                                         face="Arial">{{ user.username }} </font></h2>
 {% if  request.user.is_authenticated %}
                <p align="center"><font size="4" color="black" face="Arial">E-mail: {{ user.email }}</font></p>

                <p>{{ user.profile.bio }}</p>
      {% else %} <p> Ввійдіть або зареєструйтесь, щоб зв'язатись з користувачем чи переглянути інформацію про нього.</p>
                {% endif %}
                {% if request.user.profile != user.profile and request.user.is_authenticated  %}
                <a class="btn btn-outline-dark btn-warning" href="#">Написати повідомлення</a></li>
               <hr>
                    {% endif %}


                {% if request.user.profile == user.profile or request.user.is_staff%}
                <li><a class="btn btn-outline-dark btn-warning" href="{% url 'chats' %}">Мої повідомлення</a></li>
                <hr>
                <li><a class="btn btn-outline-dark btn-warning" href="{% url 'update_profile' %}">Редагувати профіль</a>
                </li>
            <hr>
                <li><a class="btn btn-outline-dark btn-warning" href="{% url 'orders' %}">Замовлення мої</a></li>
                <hr>
               {% endif %}
                <div class="comments-wrapper">
                    <h5>Відгуки: {{ user.profile.profiles.all.count }}</h5>
                    <hr>
                    <!--
                        - Not logged in, output form and say "Register to comment and give room for a message"
                        - When given username
                    -->
                    {% if request.user.is_authenticated %}
                        <form action="" method="POST">
                            {% csrf_token %}
                            <textarea required class="form-control" placeholder="Написати відгук..."
                                      name="comment"></textarea>
                            <br>
                            <input class="btn btn-outline-dark btn-warning" type="submit" value="Надіслати">
                        </form>
                    {% else %}
                        <p>Зареєструйтесь, щоб залишити відгук:</p>
                        <a class="btn btn-primary" href="{% url 'register' %}">Реєстрація/Вхід</a>
                    {% endif %}

                    <hr>
                    {% for comment in user.profile.profiles.all %}
                        <div class="comment">
                            <div class="col-md-4">
                                <a href="{% url 'profile' comment.author.user.username %}"> <img class="author-pic"
                                                                                                 src="{{ comment.author.profile_pic.url }}">
                                </a></div>
                            <div class="col-md-8">

                                <a href="{% url 'profile' comment.author.user.username %}"><p align="left"
                                                                                              class="comment-author">
                                    {{ comment.author.user.username }}</p></a>
                                <p align="left" class="comment-body">{{ comment.body }}</p>
                                <p align="right" class="comment-date">{{ comment.created|date:"M-d-Y" }}</p>
                                <hr>
                            </div>


                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card card-body bg-transparent">

                <h3 class="btn btn-warning" align="center">Оголошення користувача</h3>
                <div class="post-wrapper">
                    {% for post in posts %}
                        <div>
                            <div class="post">
                                <img class="thumbnail" src="{{ post.thumbnail.url }}">
                                <div class="post-preview bg-transparent">
                                    <h6 class="post-title">{{ post.headline }}</h6>
                                    <p class="post-intro">{{ post.sub_headline }}</p>
                                    <a align="center" class="btn btn-outline-dark btn-warning"
                                       href="{% url 'post' post.slug %}">Переглянути оголошення</a>
                                    <hr>

                                     {% if request.user.profile == post.author or request.user.is_staff%}
                                        <a class="btn btn-outline-dark btn-warning"
                                           href="{% url 'update_post' post.slug %}">Редагувати</a>
                                        | <a class="btn btn-outline-dark btn-warning"
                                            href="{% url 'delete_post' post.slug %}">Видалити</a>
                                         <hr>
                                    {% endif %}


                                    <span class="tag">{{ post.tags.name }}</span>

                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <h4>Оголошень не знайдено...</h4>
                    {% endfor %}
                </div>

                <div class="center">
        <div class="pages">

            {% if posts.has_other_pages %}

                {% if posts.has_previous %}
                    <a data-page="{{ posts.previous_page_number }}"
                       href="?page={{ posts.previous_page_number }}"
                       class="btn btn-outline-dark text-dark">&laquo</a>

                    <a data-page="1" href="?page=1" class="btn btn-outline-dark text-dark">На початок</a>
                {% endif %}


                {% for i in posts.paginator.page_range %}
                    {% if posts.number == i %}
                        <a class="btn btn-outline-dark btn-warning">{{ i }}</a>
                    {% else %}
                        <a data-page="{{ i }}" href="?page={{ i }}"
                           class="btn btn-outline-dark text-dark">{{ i }}</a>
                    {% endif %}

                {% endfor %}


                {% if posts.has_next %}
                    <a data-page="{{ posts.paginator.num_pages }}"
                       href="?page={{ posts.paginator.num_pages }}" class="btn btn-outline-dark text-dark">В кінець</a>

                    <a data-page="{{ posts.next_page_number }}"
                       href="?page={{ posts.next_page_number }}" class="btn btn-outline-dark text-dark">&raquo</a>
                {% endif %}

            {% endif %}
        </div>
    </div>
    </br>
            </div>


        </div>

    </div>
    </div>

{% endblock content %}